/* reset */
body, html, p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #333333;
}
div {
    box-sizing: border-box;
}
hr {
    border-top: 1px solid #ccc;
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: underline;
}

.font-heading {
    font-family: 'Rubik', sans-serif;
}

.font-text {
    font-family: 'Lato', sans-serif;
}

/* Masonry */
.masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: 0;
}
.masonry-item {
    background-color: #eee;
    overflow: hidden;
}
.masonry-item a {
    display: block;
}

.masonry-item,
.masonry-item img {
    position: relative;
}

/* Sidebar */
.sidebar {
    box-shadow: 0 -5px 15px 0 rgb(0 0 0 / 25%);
}
.sidebar__inner {
    width: 200px;
}

.icon-social-media {
    width: 36px;
    margin-right: 8px;
}
.credit {
    color: #8f8d8d;
    font-size: 12px;
}

/* Headear */
.header {
    z-index: 3;
    box-shadow: 0 -5px 15px 0 rgb(0 0 0 / 25%);
}
.header--logo {
    width: 68px;
}
.header--burger {
    width: 24px;
}

/* Content */
.portofolio {
    padding-left: 328px;
}
.preview {
    padding-left: 290px;
}
.preview__inner {
    background-color: rgb(255 255 255 / 85%);
}
.preview--img {
    height: 90%;
    width: auto;
}

/* mobile */
@media screen and (max-width: 768px) {
    
    /* Portofolio */
    .portofolio, .preview {
        padding-left: 0;
    }

    .sidebar {
        transform: translateX(-100%);
        transition: transform .4s cubic-bezier(.46,.54,.17,1),-webkit-transform .4s cubic-bezier(.46,.54,.17,1);
    }
    .sidebar.show {
        transform: translateX(0);
    }
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    will-change: opacity;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
}